<h2>About Us Copies:</h2>
<div class="col-md-12">
  <div class="col-md-12">
    <div class="field form-group">
      <%= content.label :about_us_first_paragraph, "Paragraph 1:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="field form-group">
      <%= content.label :about_us_second_paragraph, "Paragraph 2:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="field form-group">
      <%= content.label :about_us_third_paragraph, "Paragraph 3:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_third_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :about_us_1_title, "Tab 1 Title:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_1_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :about_us_1_first_paragraph, "Tab 1 First Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_1_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :about_us_1_second_paragraph, "Tab 1 Second Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_1_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :about_us_2_title, "Tab 2 Title:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_2_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :about_us_2_first_paragraph, "Tab 2 First Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_2_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :about_us_2_second_paragraph, "Tab 2 Second Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_2_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :about_us_3_title, "Tab 3 Title:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_3_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :about_us_3_first_paragraph, "Tab 3 First Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_3_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :about_us_3_second_paragraph, "Tab 3 Second Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :about_us_3_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
</div>