<h2>Carousel Links:</h2>
<div class="col-md-12">
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :carousel_link_1_text, "Text Link 1:", class: "lead lead-lg" %>
      <%= content.text_field :carousel_link_1_text, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :carousel_link_1, "Link 1:", class: "lead lead-lg" %>
      <%= content.text_field :carousel_link_1, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :carousel_link_2_text, "Text Link 2:", class: "lead lead-lg" %>
      <%= content.text_field :carousel_link_2_text, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :carousel_link_2, "Link 2:", class: "lead lead-lg" %>
      <%= content.text_field :carousel_link_2, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :carousel_link_3_text, "Text Link 3:", class: "lead lead-lg" %>
      <%= content.text_field :carousel_link_3_text, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :carousel_link_3, "Link 3:", class: "lead lead-lg" %>
      <%= content.text_field :carousel_link_3, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
</div>