<h2>Partnership Copies:</h2>
<div class="col-md-12">
  <div class="col-md-12">
    <div class="field form-group">
      <%= content.label :partnership_first_paragraph, "Paragraph 1:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="field form-group">
      <%= content.label :partnership_second_paragraph, "Paragraph 2:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="field form-group">
      <%= content.label :partnership_third_paragraph, "Paragraph 3:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_third_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :partnership_1_title, "Tab 1 Title:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_1_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :partnership_1_first_paragraph, "Tab 1 First Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_1_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :partnership_1_second_paragraph, "Tab 1 Second Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_1_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :partnership_2_title, "Tab 2 Title:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_2_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :partnership_2_first_paragraph, "Tab 2 First Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_2_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :partnership_2_second_paragraph, "Tab 2 Second Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_2_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :partnership_3_title, "Tab 3 Title:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_3_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :partnership_3_first_paragraph, "Tab 3 First Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_3_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :partnership_3_second_paragraph, "Tab 3 Second Paragraph:", class: "lead lead-lg" %>
      <%= content.text_area :partnership_3_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
</div>