<h2>Section Copies:</h2>
<div class="col-md-12">
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :section_1_title, "Title Section 1:", class: "lead lead-lg" %>
      <%= content.text_field :section_1_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :section_1_first_paragraph, "First Text Section 1:", class: "lead lead-lg" %>
      <%= content.text_area :section_1_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :section_1_second_paragraph, "Second Text Section 1:", class: "lead lead-lg" %>
      <%= content.text_area :section_1_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :section_2_title, "Title Section 2:", class: "lead lead-lg" %>
      <%= content.text_field :section_2_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :section_2_first_paragraph, "First Text Section 2:", class: "lead lead-lg" %>
      <%= content.text_area :section_2_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :section_2_second_paragraph, "Second Text Section 2:", class: "lead lead-lg" %>
      <%= content.text_area :section_2_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :section_3_title, "Title Section 3:", class: "lead lead-lg" %>
      <%= content.text_field :section_3_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :section_3_first_paragraph, "First Text Section 3:", class: "lead lead-lg" %>
      <%= content.text_area :section_3_first_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :section_3_second_paragraph, "Second Text Section 3:", class: "lead lead-lg" %>
      <%= content.text_area :section_3_second_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
</div>