<h2>Slides Text:</h2>
<div class="col-md-12">
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :slide_1_title, "Slide Title 1:", class: "lead lead-lg" %>
      <%= content.text_field :slide_1_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :slide_1_subtitle, "Slide Subtitle 1:", class: "lead lead-lg" %>
      <%= content.text_field :slide_1_subtitle, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :slide_2_title, "Slide Title 2:", class: "lead lead-lg" %>
      <%= content.text_field :slide_2_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :slide_2_subtitle, "Slide Subtitle 2:", class: "lead lead-lg" %>
      <%= content.text_field :slide_2_subtitle, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :slide_3_title, "Slide Title 3:", class: "lead lead-lg" %>
      <%= content.text_field :slide_3_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :slide_3_subtitle, "Slide Subtitle 3:", class: "lead lead-lg" %>
      <%= content.text_field :slide_3_subtitle, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
</div>