<div class="col-md-6 col-md-offset-3">
  <div class="product_image text-center">
    <img src="<%= @product_images[0].image.url(:thumb) %>" alt="" style="margin: auto;"class="img-responsive">
    <h2><%= @product.title %></h2>
  </div>
  <div class="field form-group">
    <%= order.label :trading_software, "Trading Software:", class: "lead lead-lg" %>
    <%= order.collection_select :trading_software, Order.trading_softwares.keys, :to_s, :titlecase, { include_blank: "Select One Trading Software" },{ required: true, class: "form-control" } %>
  </div>

  <div class="field form-group">
    <%= order.label :customer_id, "Customer Number:", class: "lead lead-lg" %><br>
    <span style="color: red;">*If you selected Open Code(.ELD,TXT) above please write down 0 as your customer number*</span>
    <%= order.text_field :customer_id, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    <a href="http://medium.com/@aldebarantech/were-can-i-find-the-customer-id-8f0064a23a82#.etsjq2xoi" target="_blank">* Where can I find the customer number?</a>
  </div>

  <% if current_user.admin? %>
    <div class="field form-group">
      <%= order.label :shopping_time, "Shopping Time:", class: "lead lead-lg" %>
      <%= order.collection_select :shopping_time, Order.shopping_times.keys, :to_s, :titlecase, { include_blank: "Select Shopping Time" },{ required: true, class: "form-control" } %>
    </div>

    <div class="field form-group">
      <%= order.label :status, "Order Status:", class: "lead lead-lg" %>
      <%= order.collection_select :status, Order.statuses.keys, :to_s, :titlecase, { include_blank: "Select Shopping Time" },{ required: true, class: "form-control" } %>
    </div>
  <% end %>

  <div>
    <p class="disclaimer text-justify">All trading involves risk. Leveraged trading has large potential rewards, but also large potential risk. You must be aware of the risks and be willing to accept them in order to invest in the financial markets. Don't trade with money you can't afford to lose. This is neither a solicitation nor an offer to Buy/Sell financial markets. No representation is being made that any account will or is likely to achieve profits or losses similar to those  discussed.  The  past  performance  of  any  trading  system  or  methodology  is  not necessarily indicative of future results. IT  SHOULD  NOT  BE  ASSUMED  THAT  THE  METHODS,  TECHNIQUES, OR    INDICATORS    PRESENTED    IN    THESE    PRODUCTS    WILL    BE PROFITABLE  OR  THAT  THEY  WILL  NOT  RESULT  IN  LOSSES.  PASTRESULTS ARE NOT NECESSARILY INDICATIVE OF FUTURE RESULTS. THESE  SET-UPS  ARE  NOT  SOLICITATIONS  OF  ANY  ORDER  TO  BUY OR  SELL.  THE  AUTHORS,  THE  PUBLISHER,  AND  ALL  AFFILIATES ASSUME NO RESPONSIBILITY FOR YOUR TRADING RESULTS. THERE IS A HIGH DEGREE OF RISK IN TRADING. THIS SITE DISCLAIMS  ANY RESPONSIBILITY FOR LOSSES INCURRED FOR MARKET POSITIONS TAKEN BY MEMBERS OR CLIENTS IN THEIRINDIVIDUAL  CASES,  OR   FOR  ANY  MISUNDERSTANDING  ON  THE PART  OF  ANY  USERS  OF  THESE  WEBSITE.  THIS  SITE  SHALL  NOT  BE LIABLE      FOR      ANY      INDIRECT      INCIDENTAL,      SPECIAL      OR CONSEQUENTIAL  DAMAGES,  AND  IN  NO  EVENT  WILL  THIS  SITE  BE HELD  LIABLE  FOR  ANY  OF  THE  RESULTS  OFFERED  THROUGH  THIS WEBSITE. BY ACCESSING OR USING THESE FINANCIAL SOFTWARES, YOU ARE DEEMED   TO   HAVE   READ,   UNDERSTOOD   AND   ACCEPTED   THIS DISCLAIMER. </p>
  </div>

  <div class="field form-group">
    <%= order.check_box :accepts_disclaimer, required: true %>
    <%= order.label :accepts_disclaimer, "I have read and accept all conditions", class: "lead lead-lg" %>
  </div>

  <%= hidden_field_tag 'product_id', params[:product_id] %>

  <div class="actions form-group text-center">
    <%= order.submit "Save Order Information", class: "btn btn-ar btn-lg btn-success" %>
  </div>
</div>
<style>
  p.disclaimer {
    border: 1px #ccc solid;
    border-radius: 1%;
    padding: 7px;
    height: 200px;
    overflow: scroll;
  }
</style>