<div class="col-md-6 col-md-offset-3">
  <div class="product_image text-center">
    <img src="<%= @product.logo.url(:thumb) %>" alt="" style="margin: auto;"class="img-responsive">
    <h2><%= @product.title %></h2>
  </div>
  <div class="field form-group">
    <%= order.label :trading_software, "Trading Software:", class: "lead lead-lg" %>
    <%= order.collection_select :trading_software, Order.trading_softwares.keys, :to_s, :titlecase, { include_blank: "Select One Trading Software" },{ required: true, class: "form-control" } %>
  </div>

  <div class="field form-group">
    <%= order.label :customer_id, "Customer Number:", class: "lead lead-lg" %><br>
    <span style="color: red;">*If you selected Open Code(.ELD,TXT) above please write down 0 as your customer number*</span>
    <%= order.text_field :customer_id, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    <a href="http://medium.com/@aldebarantech/were-can-i-find-the-customer-id-8f0064a23a82#.etsjq2xoi" target="_blank">* Where can I find the customer number?</a>
  </div>

  <% if current_user.admin? %>
    <div class="field form-group">
      <%= order.label :shopping_time, "Shopping Time:", class: "lead lead-lg" %>
      <%= order.collection_select :shopping_time, Order.shopping_times.keys, :to_s, :titlecase, { include_blank: "Select Shopping Time" },{ required: true, class: "form-control" } %>
    </div>

    <div class="field form-group">
      <%= order.label :status, "Order Status:", class: "lead lead-lg" %>
      <%= order.collection_select :status, Order.statuses.keys, :to_s, :titlecase, { include_blank: "Select Shopping Time" },{ required: true, class: "form-control" } %>
    </div>
  <% end %>

  <div>
    <p class="disclaimer text-justify">
      DISCLAIMER<br><br>
      The Client agrees as part of the purchase of the software from the Developer the confidential rules and/or software of a trading system or any of the Aldebaran Tech products for the sole purpose of trading that product in his/her account. Whereas the client agrees to review, examine, inspect or obtain such information as is necessary to use these products only for the purpose described above, and to otherwise hold such information including the rules of the products, confidential pursuant to the terms of this disclaimer. BE IT KNOWN that Developer and Client have the following conditions:<br><br>
      1-The client agrees to hold all confidential or proprietary information, trade secrets, trading methods, processes, formula, or computer programs related to these products in trust and confidence and agree that they shall be used only for the benefit of trading only in the Client’s account and shall not be used for any other purpose or disclosed to any third party without prior authorization from the Developer.<br>
      2-This information shall not be disclosed to any employee, superior, consultant, or other unless they agree
      3-Client has no right or authority to sub-license, rent, time-share, lease, lend, sell, or to grant any rights to third parties with respect to the trading systems, software, or Portfolios.<br>
      4-Developer hereby represents and warrants to Licensee that Developer is the owner of the Software or otherwise has the right to grant to Licensee the rights set forth in this disclaimer.<br>
      5-Warranty of Functionality. For a period of your purchase  following delivery of the Software to Licensee (the "Warranty Period"), Developer warrants that the Software shall perform in all material respects according to the Developer's specifications concerning the Software when used with the appropriate computer equipment. In the event of any breach or alleged breach of this warranty, Licensee shall promptly notify Developer and return the Software to Developer at Licensee's expense. Licensee's sole remedy shall be that Developer shall correct the Software so that it operates according to the warranty. This warranty shall not apply to the Software if modified by anyone or if used improperly or on an operating environment not approved by Developer.<br>
      6-Software Maintenance. Standard maintenance. During the Warranty Period, Developer shall provide to Licensee any new, corrected or enhanced version of the Software as created by Developer. Such enhancement shall include all modifications to the Software which increase the speed, efficiency or ease of use of the Software, or add additional capabilities or functionality to the Software, but shall not include any substantially new or rewritten version of the Software. This apply for non-open code.<br>
      7-Limitation of Liability. Developer shall not be responsible for, and shall not pay, any amount of incidental, consequential or other indirect damages, whether based on lost revenue, trading related losses or otherwise, regardless of whether Developer was advised of the possibility of such losses in advance. In no event shall Developer's liability here-under exceed the amount of license fees paid by Licensee, regardless of whether Licensee's claim is based on contract, tort, strict liability, product liability or otherwise.<br><br>

      IT SHOULD NOT BE ASSUMED THAT THE METHODS, TECHNIQUES, OR INDICATORS PRESENTED IN THESE PRODUCTS WILL BE PROFITABLE OR THAT THEY WILL NOT RESULT IN LOSSES. PAST RESULTS ARE NOT NECESSARILY INDICATIVE OF FUTURE RESULTS. THESE SET-UPS ARE NOT SOLICITATIONS OF ANY ORDER TO BUY OR SELL. THE AUTHORS, THE PUBLISHER, AND ALL AFFILIATES ASSUME NO RESPONSIBILITY FOR YOUR TRADING RESULTS. THERE IS A HIGH DEGREE OF RISK IN TRADING. THIS SITE DISCLAIMS ANY RESPONSIBILITY FOR LOSSES INCURRED FOR MARKET POSITIONS TAKEN BY MEMBERS OR CLIENTS IN THEIR INDIVIDUAL CASES, OR FOR ANY MISUNDERSTANDING ON ANY PART OF THIS WEBSITE. THIS SITE SHALL NOT BE LIABLE FOR ANY INDIRECT INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES, AND IN NO EVENT WILL THIS SITE BE HELD LIABLE FOR ANY OF THE RESULTS OFFERED THROUGH THIS WEBSITE.<br><br>

      WE HAVE A NO-REFUND POLICY ON ANY OF ALDEBARANTECH PRODUCTS<br>
      SO PLEASE READ CAREFULLY BEFORE YOU ACCEPT THIS.<br>
      BY ACCESSING OR USING THESE FINANCIAL SOFTWARES, YOU ARE DEEMED TO HAVE READ, UNDERSTOOD AND ACCEPTED THIS DISCLAIMER.<br>
      Aldebaran tech<br>
      www.aldebarantech.com<br><br>
      Copyright ©  by Aldebaran technologies, LLC. All Rights Reserved. No part of this document shall be reproduced or transmitted by any means, electronic, mechanical, photocopying, recording or otherwise.
  </p>
  </div>

  <div class="field form-group">
    <%= order.check_box :accepts_disclaimer, required: true %>
    <%= order.label :accepts_disclaimer, "I have read and accept all conditions", class: "lead lead-lg" %>
  </div>

  <%= hidden_field_tag 'product_id', params[:product_id] %>

  <div class="actions form-group text-center">
    <%= order.submit "Save Order Information", class: "btn btn-ar btn-lg btn-success" %>
  </div>
</div>
<style>
  p.disclaimer {
    border: 1px #ccc solid;
    border-radius: 1%;
    padding: 7px;
    height: 200px;
    overflow: scroll;
  }
</style>