<section class="carousel-section" style="background-image: url(<%= @carousel_background.image.url %>);">
  <div id="carousel-example-generic" class="carousel carousel-razon slide" data-ride="carousel" data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-7">
              <div class="carousel-caption">
                <div class="carousel-text">
                  <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><%= @content.slide_1_title %></h1>
                  <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle"><%= @content.slide_1_subtitle %></h2>
                  <ul class="list-unstyled carousel-list">
                    <li class="animated bounceInLeft animation-delay-11"><%= link_to "<i class='fa fa-check'></i>#{@content.carousel_link_1_text}".html_safe, @content.carousel_link_1, class: "white-text" %></li>
                    <li class="animated bounceInLeft animation-delay-13"><%= link_to "<i class='fa fa-check'></i>#{@content.carousel_link_2_text}".html_safe, @content.carousel_link_2, class: "white-text" %></li>
                    <li class="animated bounceInLeft animation-delay-15"><%= link_to "<i class='fa fa-check'></i>#{@content.carousel_link_3_text}".html_safe, @content.carousel_link_3, class: "white-text" %></li>
                  </ul>
                  <p class="animated fadeInDown animation-delay-8 text-center"><%= link_to "Buy Strategies", store_my_store_path, class: "btn btn-ar btn-primary btn-lg" %></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
              <div class="carousel-img">
                <img src="<%= @carousel_images[0].image.url %>" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-8">
              <div class="carousel-caption">
                <div class="carousel-text">
                  <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><%= @content.slide_2_title %></h1>
                  <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle"><%= @content.slide_2_subtitle %></h2>
                  <ul class="list-unstyled carousel-list">
                    <li class="animated bounceInLeft animation-delay-11"><%= link_to "<i class='fa fa-check'></i>#{@content.carousel_link_1_text}".html_safe, @content.carousel_link_1, class: "white-text" %></li>
                    <li class="animated bounceInLeft animation-delay-13"><%= link_to "<i class='fa fa-check'></i>#{@content.carousel_link_2_text}".html_safe, @content.carousel_link_2, class: "white-text" %></li>
                    <li class="animated bounceInLeft animation-delay-15"><%= link_to "<i class='fa fa-check'></i>#{@content.carousel_link_3_text}".html_safe, @content.carousel_link_3, class: "white-text" %></li>
                  </ul>
                  <p class="animated fadeInDown animation-delay-8 text-center"><%= link_to "Buy Strategies", store_my_store_path, class: "btn btn-ar btn-primary btn-lg" %></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
              <div class="carousel-img">
                <img src="<%= @carousel_images[1].image.url %>" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-8">
              <div class="carousel-caption">
                <div class="carousel-text">
                  <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><%= @content.slide_3_title %></h1>
                  <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle"><%= @content.slide_2_subtitle %></h2>
                  <ul class="list-unstyled carousel-list">
                    <li class="animated bounceInLeft animation-delay-11"><%= link_to "<i class='fa fa-check'></i>#{@content.carousel_link_1_text}".html_safe, @content.carousel_link_1, class: "white-text" %></li>
                    <li class="animated bounceInLeft animation-delay-13"><%= link_to "<i class='fa fa-check'></i>#{@content.carousel_link_2_text}".html_safe, @content.carousel_link_2, class: "white-text" %></li>
                    <li class="animated bounceInLeft animation-delay-15"><%= link_to "<i class='fa fa-check'></i>#{@content.carousel_link_3_text}".html_safe, @content.carousel_link_3, class: "white-text" %></li>
                  </ul>
                  <p class="animated fadeInDown animation-delay-8 text-center"><%= link_to "Buy Strategies", store_my_store_path, class: "btn btn-ar btn-primary btn-lg" %></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
              <div class="carousel-img">
                <img src="<%= @carousel_images[2].image.url %>" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</section> <!-- carousel -->

<section class="margin-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="content-box box-default animated fadeInUp animation-delay-10">
          <h4 class="text-center content-box-title"><%= @content.feature_1_title %></h4>
          <p><%= @content.feature_1_text %></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="content-box box-default animated fadeInUp animation-delay-14">
          <h4 class="text-center content-box-title"><%= @content.feature_2_title %></h4>
          <p><%= @content.feature_2_text %></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="content-box box-default animated fadeInUp animation-delay-16">
          <h4 class="text-center content-box-title"><%= @content.feature_3_title %></h4>
          <p><%= @content.feature_3_text %></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="content-box box-default animated fadeInUp animation-delay-12">
          <h4 class="text-center content-box-title"><%= @content.feature_4_title %></h4>
          <p><%= @content.feature_4_text %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lines">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="home-devices text-justify">
          <h3><%= @content.section_1_title %></h3>
          <p><%= @content.section_1_first_paragraph %></p>
          <p><%= @content.section_1_second_paragraph %></p>
          <ul class="icon-devices">
            <li class="active"><a href="#desktop" data-toggle="tab"><i class="fa fa-pie-chart"></i></a></li>
            <li><a href="#laptop" data-toggle="tab"><i class="fa fa-area-chart"></i></a></li>
            <li><a href="#tablet" data-toggle="tab"><i class="fa fa-bar-chart"></i></a></li>
            <li><a href="#mobile" data-toggle="tab"><i class="fa fa-line-chart"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane active" id="desktop">
            <img src="<%= @section_images[0].image.url %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="laptop">
            <img src="<%= @section_images[1].image.url %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="tablet">
            <img src="<%= @section_images[2].image.url %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="mobile">
            <img src="<%= @section_images[3].image.url %>" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lines">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane active" id="desktop1">
            <img src="<%= @section_images[4].image.url %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="laptop1">
            <img src="<%= @section_images[5].image.url %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="tablet1">
            <img src="<%= @section_images[6].image.url %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="mobile1">
            <img src="<%= @section_images[7].image.url %>" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="home-devices text-justify">
          <h3><%= @content.section_2_title %></h3>
          <p><%= @content.section_2_first_paragraph %></p>
          <p><%= @content.section_2_second_paragraph %></p>
          <ul class="icon-devices">
            <li class="active"><a href="#desktop1" data-toggle="tab"><i class="fa fa-pie-chart"></i></a></li>
            <li><a href="#laptop1" data-toggle="tab"><i class="fa fa-area-chart"></i></a></li>
            <li><a href="#tablet1" data-toggle="tab"><i class="fa fa-bar-chart"></i></a></li>
            <li><a href="#mobile1" data-toggle="tab"><i class="fa fa-line-chart"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lines">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="home-devices text-justify">
          <h3><%= @content.section_3_title %></h3>
          <p><%= @content.section_3_first_paragraph %></p>
          <p><%= @content.section_3_second_paragraph %></p>
          <ul class="icon-devices">
            <li class="active"><a href="#desktop2" data-toggle="tab"><i class="fa fa-pie-chart"></i></a></li>
            <li><a href="#laptop2" data-toggle="tab"><i class="fa fa-area-chart"></i></a></li>
            <li><a href="#tablet2" data-toggle="tab"><i class="fa fa-bar-chart"></i></a></li>
            <li><a href="#mobile2" data-toggle="tab"><i class="fa fa-line-chart"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane active" id="desktop2">
            <img src="<%= @section_images[8].image.url %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="laptop2">
            <img src="<%= @section_images[9].image.url %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="tablet2">
            <img src="<%= @section_images[10].image.url %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="mobile2">
            <img src="<%= @section_images[11].image.url %>" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lines" style="padding-top:45px;padding-bottom:45px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="carousel-example-captions" class="carousel carousel-images slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @slide_images.each_with_index do |image,index| %>
              <% if index == 0 %>
                <li data-target="#carousel-example-captions" data-slide-to="<%= index %>" class="active"></li>
              <% else %>
                <li data-target="#carousel-example-captions" data-slide-to="<%= index %>"></li>
              <% end %>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @slide_images.each_with_index do |image,index| %>
              <% if index == 0 %>
                <div class="item active">
              <% else %>
                <div class="item">
              <% end %>
                <img src="<%= image.image.url %>" alt="First slide image">
                <div class="carousel-caption animated fadeInUpBig">
                  <h3><%= image.title %></h3>
                  <p><%= image.caption %></p>
                </div>
              </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>