<header class="services-header">
  <div class="primary-dark-div">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="service-header-text text-center center-block">
            <h1 class="animated fadeInDown animation-delay-2">At the Vanguard of Innovation</h1>
            <p class="animated fadeInDown animation-delay-5">Phasellus viverra nulla ut metus varius laoreet rutrum. Aenean imperdiet etiam ultricies nisi vel augue.</p>
            <p class="animated fadeInDown animation-delay-8"><%= link_to "Buy Robots", store_my_store_path, class: "btn btn-ar btn-primary btn-lg" %></p>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="services-header-list">
            <li class="animated fadeInUp animation-delay-5"><a href="#"><i class="fa fa-globe"></i> Global web solutions &amp; cloud computing</a></li>
            <li class="animated fadeInUp animation-delay-8"><a href="#"><i class="fa fa-tachometer"></i> High-speed servers and performance</a></li>
            <li class="animated fadeInUp animation-delay-11"><a href="#"><i class="fa fa-cloud"></i> Lorem ipsum dolor sit amet consectetur</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="margin-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="content-box box-default animated fadeInUp animation-delay-10">
          <span class="icon-ar icon-ar-lg icon-ar-round icon-ar-inverse"><i class="fa fa-html5"></i></span>
          <h4 class="content-box-title">Lorem ipsum dolor</h4>
          <p>Consectetur adipisicing elit vritatis dolor rem officia molestiae atque eveniet inventore earum quas voluptates cumque</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="content-box box-default animated fadeInUp animation-delay-14">
          <span class="icon-ar icon-ar-lg icon-ar-round icon-ar-inverse"><i class="fa fa-css3"></i></span>
          <h4 class="content-box-title">Lorem ipsum dolor</h4>
          <p>Consectetur adipisicing elit vritatis dolor rem officia molestiae atque eveniet inventore earum quas voluptates cumque</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="content-box box-default animated fadeInUp animation-delay-16">
          <span class="icon-ar icon-ar-lg icon-ar-round icon-ar-inverse"><i class="fa fa-desktop"></i></span>
          <h4 class="content-box-title">Lorem ipsum dolor</h4>
          <p>Consectetur adipisicing elit vritatis dolor rem officia molestiae atque eveniet inventore earum quas voluptates cumque</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="content-box box-default animated fadeInUp animation-delay-12">
          <span class="icon-ar icon-ar-lg icon-ar-round icon-ar-inverse"><i class="fa fa-flag"></i></span>
          <h4 class="content-box-title">Lorem ipsum dolor</h4>
          <p>Consectetur adipisicing elit vritatis dolor rem officia molestiae atque eveniet inventore earum quas voluptates cumque</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lines" style="margin-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="home-devices">
          <h3>The template for all devices</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita vel quaerat illum aperiam facere inventore officia.</p>
          <p>Consequuntur sed ipsum eius minima eum velit soluta accusamus omnis maiores modi quae mollitia consectetur adipisci.</p>
          <ul class="icon-devices">
            <li class="active"><a href="#desktop" data-toggle="tab"><i class="fa fa-desktop"></i></a></li>
            <li><a href="#laptop" data-toggle="tab"><i class="fa fa-laptop"></i></a></li>
            <li><a href="#tablet" data-toggle="tab"><i class="fa fa-tablet"></i></a></li>
            <li><a href="#mobile" data-toggle="tab"><i class="fa fa-mobile"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane active" id="desktop">
            <img src="<%= asset_path('demo/mac.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="laptop">
            <img src="<%= asset_path('demo/macpro.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="tablet">
            <img src="<%= asset_path('demo/ipad.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="mobile">
            <img src="<%= asset_path('demo/iphone.png') %>" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lines" style="margin-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane active" id="desktop">
            <img src="<%= asset_path('demo/mac.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="laptop">
            <img src="<%= asset_path('demo/macpro.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="tablet">
            <img src="<%= asset_path('demo/ipad.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="mobile">
            <img src="<%= asset_path('demo/iphone.png') %>" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="home-devices">
          <h3>The template for all devices</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita vel quaerat illum aperiam facere inventore officia.</p>
          <p>Consequuntur sed ipsum eius minima eum velit soluta accusamus omnis maiores modi quae mollitia consectetur adipisci.</p>
          <ul class="icon-devices">
            <li class="active"><a href="#desktop" data-toggle="tab"><i class="fa fa-desktop"></i></a></li>
            <li><a href="#laptop" data-toggle="tab"><i class="fa fa-laptop"></i></a></li>
            <li><a href="#tablet" data-toggle="tab"><i class="fa fa-tablet"></i></a></li>
            <li><a href="#mobile" data-toggle="tab"><i class="fa fa-mobile"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-lines">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="home-devices">
          <h3>The template for all devices</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, sapiente, nam sunt rem beatae architecto cupiditate numquam consectetur dolorum aliquam suscipit adipisci expedita vel quaerat illum aperiam facere inventore officia.</p>
          <p>Consequuntur sed ipsum eius minima eum velit soluta accusamus omnis maiores modi quae mollitia consectetur adipisci.</p>
          <ul class="icon-devices">
            <li class="active"><a href="#desktop" data-toggle="tab"><i class="fa fa-desktop"></i></a></li>
            <li><a href="#laptop" data-toggle="tab"><i class="fa fa-laptop"></i></a></li>
            <li><a href="#tablet" data-toggle="tab"><i class="fa fa-tablet"></i></a></li>
            <li><a href="#mobile" data-toggle="tab"><i class="fa fa-mobile"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane active" id="desktop">
            <img src="<%= asset_path('demo/mac.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="laptop">
            <img src="<%= asset_path('demo/macpro.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="tablet">
            <img src="<%= asset_path('demo/ipad.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="mobile">
            <img src="<%= asset_path('demo/iphone.png') %>" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <section class="margin-bottom">
    <p class="lead lead-lg text-center primary-color margin-bottom">Knows the <strong>Artificial Reason</strong> and surprise yourself</p>
    <div class="row">
      <div class="col-md-6">
        <h2 class="no-margin-top">About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, alias, nihil molestias libero corporis perferendis a quasi at.</p>
        <p>Eos, illum, odit nulla provident sint atque quasi necessitatibus dolores voluptatibus perspiciatis aliquid tempora possimus laudantium. Blanditiis, deleniti!</p>
        <p>Saepe, laborum, eligendi vitae ad excepturi officiis vel omnis quidem et dolorum rem vero explicabo consequatur mollitia nihil!</p>
        <p>Fuga, omnis, quo, cumque, ipsa quasi facilis voluptatibus iure veniam nostrum voluptate accusantium dolore reprehenderit. Corrupti, mollitia, maiores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ducimus, pariatur ad ipsam et quod numquam eveniet magni aspernatur.</p>

      </div>
      <div class="col-md-6">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <i class="fa fa-lightbulb-o"></i> Talent and creativity
              </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore quasi doloribus ipsam incidunt perferendis.</p>
                <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo sunt veniam est incidunt perferendis minima obcaecati ex aperiam voluptatibus blanditiis eum suscipit magnam dolorum in adipisci nihil ipsam perspiciatis molestiae!</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                <i class="fa fa-desktop"></i> Design and code
              </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dignissimos inventore cupiditate expedita saepe enim nobis nostrum? Laborum, laudantium, maiores, cupiditate, perspiciatis at ad accusamus corporis sed ipsam et velit!</p>
                <p>Incidunt, harum itaque voluptatum asperiores recusandae explicabo maiores. Alias, quos, ex impedit at error id laborum fugit architecto qui beatae molestiae dolorum rem veritatis quia aliquam totam accusamus perferendis. Nulla!</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                <i class="fa fa-user"></i> Quality and Support
              </a>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, rerum unde doloribus accusamus pariatur non expedita quibusdam velit totam obcaecati. Consequatur, deserunt, asperiores quam nisi earum voluptates animi labore tempore!</p>
                <p>Dolorum, aliquam, totam labore saepe error a eum culpa assumenda sint laudantium ipsa iure ullam et dicta nesciunt repellendus optio voluptatibus reprehenderit odit officia fugiat necessitatibus recusandae architecto ad neque?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section>
  <p class="slogan text-center">Discover our projects and the rigorous process of <span>creation</span>. Our principles are <span>creativity</span>, <span>design</span>, <span>experience</span> and <span>knowledge</span>. We are backed by 20 years of <span>research</span>.</p>
  <h2 class="section-title">Our Clients</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= asset_path('demo/intel.png') %>" alt="" class="img-responsive"></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= asset_path('demo/microsoft.png') %>" alt="" class="img-responsive"></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= asset_path('demo/nokia.png') %>" alt="" class="img-responsive"></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= asset_path('demo/samsung.png') %>" alt="" class="img-responsive"></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= asset_path('demo/anz.png') %>" alt="" class="img-responsive"></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= asset_path('demo/maxis.png') %>" alt="" class="img-responsive"></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= asset_path('demo/sony.png') %>" alt="" class="img-responsive"></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><img src="<%= asset_path('demo/hp.png') %>" alt="" class="img-responsive"></div>
      </div>
    </div>
  </div>
</section>

</div>