<header class="main-header">
  <div class="container">

    <div class="col-md-4">
      <h1 class="page-title">Online Store</h1>
    </div>

    <div class="col-md-4">
      <img src="http://i592.photobucket.com/albums/tt5/Mardini03/paypal-online-store.png" alt="" class="text-center">
    </div>


      <ol class="breadcrumb pull-right">
        <li><a href="/pages/store">Online Store</a></li>
        <li class="active">Trading Products</li>
      </ol>  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-sm hidden-xs">
      <div class="ec-filters-menu">
        <h3 class="section-title no-margin-top">Products</h3>
        <h4>Select Category</h4>
        <ul>
          <li><a href="javascript:void(0);" class="filter" data-filter="all">All</a></li>
          <li><a href="javascript:void(0);" class="filter" data-filter=".category-strategy">Strategies</a></li>
          <li><a href="javascript:void(0);" class="filter" data-filter=".category-portfolio">Portfolios</a></li>
          <li><a href="javascript:void(0);" class="filter" data-filter=".category-indicator">Trading Apps</a></li>
          <li><a href="javascript:void(0);" class="filter" data-filter=".category-education">Education & Others</a></li>
        </ul>
        <h4>Order by</h4>
        <ul>
          <li><a href="javascript:void(0);" class="sort" data-sort="price:asc">Price: Low to High</a></li>
          <li><a href="javascript:void(0);" class="sort" data-sort="price:desc">Price: High to Low</a></li>
          <!-- <li><a href="javascript:void(0);" class="sort" data-sort="popularity:desc">Most Popular</a></li> -->
          <li><a href="javascript:void(0);" class="sort" data-sort="date:desc">Release Date</a></li>
        </ul>
      </div>
      <h3 class="section-title">Latest Offers</h3>
      <div class="bxslider-controls">
        <span id="bx-prev5"></span>
        <span id="bx-next5"></span>
      </div>
      <ul class="bxslider" id="offers">
        <% @recent_products.each do |product| %>
          <li>
            <div class="ec-box">
              <div class="ec-box-header"><%= link_to product.title, product_path(product) %></div>
              <%= link_to "<img src='#{product.logo.url(:my_store)}' alt="">".html_safe, product_path(product) %>
              <div class="ec-box-footer">
                <span class="label label-primary">Start at $ <%= product.price %></span>
                <%= link_to '<i class="fa fa-shopping-cart"></i> Buy Now'.html_safe, product_path(product), class: "btn btn-ar btn-success btn-sm pull-right" %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row" id="Container">
        <% @products.each do |product| %>
          <% if product.strategy? %>
            <div class="col-sm-4 mix category-strategy" data-price="<%= product.price %>" data-date="<%= product.id %>" data-popularity="3">
          <% elsif product.indicator? %>
            <div class="col-sm-4 mix category-indicator" data-price="<%= product.price %>" data-date="<%= product.id %>" data-popularity="3">
          <% elsif product.education? %>
            <div class="col-sm-4 mix category-education" data-price="<%= product.price %>" data-date="<%= product.id %>" data-popularity="3">
          <% else %>
            <div class="col-sm-4 mix category-portfolio" data-price="<%= product.price %>" data-date="<%= product.id  %>" data-popularity="3">
          <% end %>
            <div class="ec-box">
              <div class="ec-box-header"><%= link_to product.title, product_path(product) %></div>
              <%= link_to "<img src='#{product.logo.url(:my_store)}' alt="">".html_safe, product_path(product) %>
              <div class="ec-box-footer">
                <span class="label label-primary">Start at $ <%= product.price %></span>
                <%= link_to '<i class="fa fa-shopping-cart"></i> Buy Now'.html_safe, product_path(product), class: "btn btn-ar btn-success btn-sm pull-right" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div> <!-- container -->
<script>
  $(document).on('ready page:load', function(){
    activateMixItUp()
  });
</script>