<header class="main-header">
  <div class="container">
    <h1 class="page-title">Products</h1>

    <ol class="breadcrumb pull-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Bussiness & Products", pages_trading_apps_path %></li>
      <li class="active">Products</li>
    </ol>
  </div>
</header>

<div class="container">
  <section class="margin-bottom">
    <div class="row">
      <div class="col-md-12">
        <h2 class="right-line">Our Strategies<h2>
      </div>
      <div class="col-md-12">
        <div class="footer-widget">
          <% @strategies.each do |strategy| %>
            <div class="media col-md-4">
              <%= link_to "<img class='media-object' src='#{strategy.section_images.order('id ASC')[0].image.url(:mini_thumb)}' width='75' height='75' alt='image'>".html_safe, product_path(strategy), class: "pull-left" %>
              <div class="media-body">
                <h4 class="media-heading"><%= link_to strategy.title, product_path(strategy) %></h4>
                <p class="product-thumbnail-text"><%= strategy.resume %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-12 text-right">
        <%= link_to "See All", pages_strategies_path, class: "btn btn-ar btn-primary btn-lg" %>
      </div>
    </div>
  </section>
</div> <!-- container -->


<div class="container">
  <section class="margin-bottom">
    <div class="row">
      <div class="col-md-12">
        <h2 class="right-line">Our Trading Apps<h2>
      </div>
      <div class="col-md-12">
        <div class="footer-widget">
          <% @indicators.each do |indicator| %>
            <div class="media col-md-4">
              <%= link_to "<img class='media-object' src='#{indicator.section_images.order('id ASC')[0].image.url(:mini_thumb)}' width='75' height='75' alt='image'>".html_safe, product_path(indicator), class: "pull-left" %>
              <div class="media-body">
                <h4 class="media-heading"><%= link_to indicator.title, product_path(indicator) %></h4>
                <p class="product-thumbnail-text"><%= indicator.resume %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-12 text-right">
        <%= link_to "See All", pages_indicators_path, class: "btn btn-ar btn-primary btn-lg" %>
      </div>
    </div>
  </section>
</div> <!-- container -->


<div class="container">
  <section class="margin-bottom">
    <div class="row">
      <div class="col-md-12">
        <h2 class="right-line">Our Portfolios<h2>
      </div>
      <div class="col-md-12">
        <div class="footer-widget">
          <% @portfolios.each do |portfolio| %>
            <div class="media col-md-4">
              <%= link_to "<img class='media-object' src='#{portfolio.section_images.order('id ASC')[0].image.url(:mini_thumb)}' width='75' height='75' alt='image'>".html_safe, product_path(portfolio), class: "pull-left" %>
              <div class="media-body">
                <h4 class="media-heading"><%= link_to portfolio.title, product_path(portfolio) %></h4>
                <p class="product-thumbnail-text"><%= portfolio.resume %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-12 text-right">
        <%= link_to "See All", pages_portfolios_path, class: "btn btn-ar btn-primary btn-lg" %>
      </div>
    </div>
  </section>
</div> <!-- container -->