<header class="main-header">
  <div class="container">
    <h1 class="page-title">Services</h1>

    <ol class="breadcrumb pull-right">
      <li><a href="#">Pages</a></li>
      <li><a href="#">Bussiness & Products</a></li>
      <li class="active">Services</li>
    </ol>
  </div>
</header>

<div class="container">
  <section class="margin-bottom">
    <div class="row">
      <div class="col-md-12">
        <h2 class="right-line">Our Robots<h2>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="text-icon wow fadeInUp">
          <span class="icon-ar icon-ar-lg"><i class="fa fa-reddit-alien"></i></span>
          <div class="text-icon-content">
            <h3 class="no-margin"><%= link_to "Robot #1", pages_show_robot_path %></h3>
            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="text-icon wow fadeInUp">
          <span class="icon-ar icon-ar-lg"><i class="fa fa-rocket"></i></span>
          <div class="text-icon-content">
            <h3 class="no-margin"><%= link_to "Robot #2", pages_show_robot_path %></h3>
            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="text-icon wow fadeInUp">
          <span class="icon-ar icon-ar-lg"><i class="fa fa-tablet"></i></span>
          <div class="text-icon-content">
            <h3 class="no-margin"><%= link_to "Robot #3", pages_show_robot_path %></h3>
            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="text-icon wow fadeInUp">
          <span class="icon-ar icon-ar-lg"><i class="fa fa-wordpress"></i></span>
          <div class="text-icon-content">
            <h3 class="no-margin"><%= link_to "Robot #4", pages_show_robot_path %></h3>
            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="text-icon wow fadeInUp">
          <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>
          <div class="text-icon-content">
            <h3 class="no-margin"><%= link_to "Robot #5", pages_show_robot_path %></h3>
            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="text-icon wow fadeInUp">
          <span class="icon-ar icon-ar-lg"><i class="fa fa-paper-plane-o"></i></span>
          <div class="text-icon-content">
            <h3 class="no-margin"><%= link_to "Robot #6", pages_show_robot_path %></h3>
            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </section>
</div> <!-- container -->