<!-- <div>
  <img src="http://i592.photobucket.com/albums/tt5/Mardini03/Picture1.jpg" alt="" style="margin: auto;">
</div> -->
<h1>Transaction Receipt</h1>
<h2>Dear <%= @user.name %></h2>
<p>Thank you for purchasing <strong><%= @product.title %></strong>, in a few moments you will receive the
Software. The license is associated with your account below:</p>

  <table>
    <tr>
      <td style="width:50%;"><strong>Name</strong></td>
      <td style="width:50%;"><%= @user.name %></td>
    </tr>
    <tr>
      <td style="width:50%;"><strong>Email</strong></td>
      <td style="width:50%;"><%= @user.email %></td>
    </tr>
    <tr>
      <td style="width:50%;"><strong>User ID</strong></td>
      <td style="width:50%;"><%= @order.customer_id %></td>
    </tr>
    <tr>
      <td style="width:50%;"><strong>Expiration Length</strong></td>
      <td style="width:50%;"><%= @order.shopping_time %></td>
    </tr>
    <tr>
      <td style="width:50%;"><strong>TOTAL PAID</strong></td>
      <% if @order.shopping_time == "Six Months" %>
        <td style="width:50%;">$ <%= @product.price %> USD</td>
      <% elsif @order.shopping_time == "One Year" %>
        <td style="width:50%;">$ <%= @product.price_one_year %> USD</td>
      <% else %>
        <td style="width:50%;">$ <%= @product.price_open_source %> USD</td>
      <% end %>
    </tr>
  </table>

<p>
  If you found any mistake in this information or have any question please contact us.
</p>

<h2>Contact Information</h2>
<p>Visit our website and send us a message: <a href="http://www.aldebarantech.com/pages/contact" target="_blank">Aldebaran Tech Contact Page</a><br><br>
<strong>E-mail support:</strong> support@aldebarantech.com<br>
<strong>Working Hours:</strong> Monday to Friday 9AM to 4PM, New York Time<br>
<strong>Visit Us:</strong> <a href="https://www.facebook.com/AldebaranTech" target="_blank">Facebook</a>, <a href="https://www.twitter.com/AldebaranTech" target="_blank">Twitter</a>, <a href="https://www.youtube.com/channel/UC5MgWUVE-O_i-1ihR1NhLnA" target="_blank">Youtube</a>, <a href="https://www.linkedin.com/in/AldebaranTech" target="_blank">Linkedin</a>, <a href="https://medium.com/@aldebarantech" target="_blank">Medium</a></p>

<p><strong>Related products please visit:</strong> <a href="http://www.aldebarantech.com/pages/my_store" target="_blank">Aldebaran Tech Online Store</a>
</p>

<p>Aldebaran Tech Corporation, all rights reserved.</p>

<style>
  table, th, td {
    border: 1px solid black;
  };
</style>