<%= form_for(@product) do |product| %>
  <% if @product.errors.any? %>
    <% @product.errors.each do |attribute, message| %>
      <h3 class="validation-error"><%= message %></h3>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="field form-group">
        <%= product.label :title, "Title:", class: "lead lead-lg" %>
        <%= product.text_field :title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
      <div class="field form-group">
        <%= product.label :product_type, "Product Type:", class: "lead lead-lg" %>
        <%= product.collection_select :product_type, Product.product_types.keys, :to_s, :titlecase, { include_blank: "Select One Product Type" },{ required: true, class: "form-control" } %>
      </div>
      <div class="field form-group">
        <%= product.label :resume, "Resume:", class: "lead lead-lg" %>
        <%= product.text_area :resume, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
      <div class="field form-group">
        <%= product.label :section_title, "Section Title:", class: "lead lead-lg" %>
        <%= product.text_field :section_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
      <div class="field form-group">
        <%= product.label :section_paragraph_1, "Section Paragraph 1:", class: "lead lead-lg" %>
        <%= product.text_area :section_paragraph_1, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
      <div class="field form-group">
        <%= product.label :section_paragraph_2, "Section Paragraph 2:", class: "lead lead-lg" %>
        <%= product.text_area :section_paragraph_2, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field form-group">
        <%= product.label :subtitle, "Subtitle:", class: "lead lead-lg" %>
        <%= product.text_field :subtitle, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
      <div class="field form-group">
        <%= product.label :price, "Price:", class: "lead lead-lg" %>
        <%= product.number_field :price, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
      <div class="field form-group">
        <%= product.label :specifications, "Specifications:", class: "lead lead-lg" %>
        <%= product.text_area :specifications, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
      <div class="field form-group">
        <%= product.label :quality_1, "Quality 1:", class: "lead lead-lg" %>
        <%= product.number_field :quality_1, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
      <div class="field form-group">
        <%= product.label :quality_2, "Quality 2:", class: "lead lead-lg" %>
        <%= product.number_field :quality_2, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
      <div class="field form-group">
        <%= product.label :quality_3, "Quality 3:", class: "lead lead-lg" %>
        <%= product.number_field :quality_3, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
      <div class="field form-group">
        <%= product.label :quality_4, "Quality 4:", class: "lead lead-lg" %>
        <%= product.number_field :quality_4, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="field form-group">
        <h2 class="block-title-2"><span>PRODUCT IMAGES:</span></h2>
        <%= product.fields_for :product_images do |product_image| %>
          <div class="col-md-12 col-sm-12 col-xs-12 remove-article-image">
            <% if product_image.object.image.url != "http://i592.photobucket.com/albums/tt5/Mardini03/imagen-no-disponible.png" %>
              <div class="col-md-3 col-sm-4 col-xs-4 edit_images">
                <%= image_tag product_image.object.image.url(:mini_thumb) %>
              </div>

              <div class="col-md-9 col-sm-8 col-xs-8">
                <h4 class="block-title-2"><span>IMAGE SAVED:</span></h4>
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <div class="form-group reg-email">
                    <div>
                      <%= product_image.file_field :image, class: "input-file" %>
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="col-md-12">
                <%= product_image.file_field :image, required: true, class: "input-file" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="actions form-group text-center">
        <%= product.submit "Save Product", class: "btn btn-ar btn-lg btn-success" %>
      </div>
    </div>
  </div>
    </div>
  </div>
<% end %>
