<div class="col-md-6">
  <div class="field form-group">
    <%= product.label :subtitle, "Subtitle:", class: "lead lead-lg" %>
    <%= product.text_field :subtitle, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
  </div>
  <div class="field form-group">
    <%= product.label :price, "Price six months:", class: "lead lead-lg" %>
    <%= product.number_field :price, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
  </div>
  <div class="field form-group">
    <%= product.label :price_one_year, "Price one year:", class: "lead lead-lg" %>
    <%= product.number_field :price_one_year, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
  </div>
  <div class="field form-group">
    <%= product.label :price_open_source, "Price open source:", class: "lead lead-lg" %>
    <%= product.number_field :price_open_source, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
  </div>
  <div class="field form-group">
    <%= product.label :specifications, "Specifications:", class: "lead lead-lg" %>
    <%= product.text_area :specifications, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
  </div>
  <div class="field form-group">
    <%= product.label :quality_1, "Quality 1:", class: "lead lead-lg" %>
    <%= product.number_field :quality_1, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
  </div>
  <div class="field form-group">
    <%= product.label :quality_2, "Quality 2:", class: "lead lead-lg" %>
    <%= product.number_field :quality_2, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
  </div>
  <div class="field form-group">
    <%= product.label :quality_3, "Quality 3:", class: "lead lead-lg" %>
    <%= product.number_field :quality_3, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
  </div>
  <div class="field form-group">
    <%= product.label :quality_4, "Quality 4:", class: "lead lead-lg" %>
    <%= product.number_field :quality_4, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
  </div>
</div>