<header class="main-header">
  <div class="container">
    <h1 class="page-title"><%= @product.product_type.humanize %></h1>

    <ol class="breadcrumb pull-right">
      <li><a href="#">Pages</a></li>
      <li><a href="#">Bussiness & Products</a></li>
      <li class="active">Products</li>
    </ol>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-9">
        <p class="slogan text-center" style="margin-bottom: 20px;"><span><%= @product.title %></span></p>
        <p class="slogan text-center margin-bottom"><%= @product.subtitle %></p>
        <div class="col-md-6">
          <img src="<%= @product_images[0].image.url(:product_show) %>" alt="" style="margin-bottom: 20px;" class="img-responsive">
        </div>
        <div class="col-md-6">
          <img src="<%= @product_images[1].image.url(:product_show) %>" alt="" style="margin-bottom: 20px;" class="img-responsive">
        </div>
      </div>
      <div class="col-md-3">
        <div class="e-price">$ <span><%= @product.price %></span>.00</div>
        <a href="#" class="btn btn-ar btn-block btn-success"><i class="fa fa-shopping-cart"></i> Buy Now</a>
        <h3 class="right-line">Related Products</h3>
        <div class="ec-box">
          <div class="ec-box-header"><%= link_to @random_item.title, product_path(@random_item) %></div>
          <a href="#"><img src="<%= asset_path('demo/e_img03.jpg') %>" alt=""></a>
          <div class="ec-box-footer">
            <span class="label label-primary"><%= number_to_currency(@random_item.price) %></span>
            <a href="#" class="btn btn-ar btn-success btn-sm pull-right"><i class="fa fa-shopping-cart"></i> Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->

  <section class="margin-bottom">
    <!-- <p class="lead lead-lg text-center primary-color margin-bottom">Knows the <strong>Artificial Reason</strong> and surprise yourself</p> -->
    <div class="row">
      <div class="col-md-6">
        <h2 class="no-margin-top">Product Specifications</h2>
        <ol class="service-list list-unstyled">
          <% @specifications.each do |spec| %>
            <li class="wow fadeInUp"><%= spec %></li>
          <% end %>
        </ol>
      </div>
      <div class="col-md-6">
        <img src="<%= @product_images[2].image.url(:big_product_show) %>" alt="" class="img-responsive">
      </div>
    </div>
  </section>
</div> <!-- container -->

<section class="section-lines">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="home-devices">
          <h3><%= @product.section_title %></h3>
          <p><%= @product.section_paragraph_1 %></p>
          <p><%= @product.section_paragraph_2 %></p>
          <ul class="icon-devices">
            <li class="active"><a href="#desktop" data-toggle="tab"><i class="fa fa-line-chart"></i></a></li>
            <li><a href="#mobile" data-toggle="tab"><i class="fa fa-pie-chart"></i></a></li>
            <li><a href="#laptop" data-toggle="tab"><i class="fa fa-bar-chart"></i></a></li>
            <li><a href="#tablet" data-toggle="tab"><i class="fa fa-area-chart"></i></a></li>
          </ul>

        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane active" id="desktop">
            <img src="http://www.nsmarttrading.com/images/jpg/7.jpg" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="laptop">
            <img src="<%= asset_path('demo/macpro.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="tablet">
            <img src="<%= asset_path('demo/ipad.png') %>" alt="" class="img-responsive">
          </div>
          <div class="tab-pane" id="mobile">
            <img src="<%= asset_path('demo/iphone.png') %>" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @product.strategy? || @product.portfolio? %>
<section class="wrap-primary-color margin-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="text-center">
          <div class="circle" id="circles-1"></div>
          <% if @product.strategy? %>
            <h4 class="text-center">Strategy - NET Profit/Drawdown</h4>
            <p class="small-font">Strategy - Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <% else %>
            <h4 class="text-center">Portfolio - NET Profit/Drawdown</h4>
            <p class="small-font"> - Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="text-center">
          <div class="circle" id="circles-2"></div>
          <% if @product.strategy? %>
            <h4 class="text-center">Strategy - Walkforwards Pass</h4>
            <p class="small-font">Strategy - Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <% else %>
            <h4 class="text-center">Portfolio - Walkforwards Pass</h4>
            <p class="small-font">Portfolio - Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="text-center">
          <div class="circle" id="circles-3"></div>
          <% if @product.strategy? %>
            <h4 class="text-center">Strategy - Drawdown</h4>
            <p class="small-font">Strategy - Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <% else %>
            <h4 class="text-center">Portfolio - Drawdown</h4>
            <p class="small-font">Portfolio - Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="text-center">
          <div class="circle" id="circles-4"></div>
          <% if @product.strategy? %>
            <h4 class="text-center">Strategy - Percent Profitable</h4>
            <p class="small-font">Strategy - Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <% else %>
            <h4 class="text-center">Portfolio - Percent Profitable</h4>
            <p class="small-font">Portfolio - Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <% if @product.strategy? %>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Strategy - Wolkforward</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Strategy - Drawdown</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Strategy - Max Drawdown</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Strategy - Percent Profitable</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Strategy - Standard Deviation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Strategy - Standard Deviation of AVG Trade</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
    <% elsif @product.portfolio? %>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Portfolio - Wolkforward</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Portfolio - Drawdown</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Portfolio - Max Drawdown</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Portfolio - Percent Profitable</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Portfolio - Standard Deviation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
      <div class="col-md-6 text-justify">
        <h2 class="right-line">Portfolio - Standard Deviation of AVG Trade</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus hic dolor eaque quidem animi ullam quod veritatis magnam laborum, omnis quia placeat, aperiam voluptatibus, et! Praesentium cum iure quae voluptate ut? Praesentium id accusamus a fuga, quas quae non iusto, aspernatur saepe! Esse ratione eum suscipit, voluptatum omnis placeat vel.</p>
      </div>
    <% end %>
  </div>
</div>


<script>
$(document).on("ready page:load", function() {
  var myCircle1 = Circles.create({
      id:         'circles-1',
      radius:     60,
      value:      <%= @product.quality_1 %>,
      maxValue:   100,
      width:      5,
      text:       function(value){return value + '%';},
      colors:     ['rgba(255,255,255,0.3)', '#fff'],
      duration:   1000,
      wrpClass:   'circles-wrp',
      textClass:  'circles-text'
  })

  var myCircle2 = Circles.create({
      id:         'circles-2',
      radius:     60,
      value:      <%= @product.quality_2 %>,
      maxValue:   100,
      width:      5,
      text:       function(value){return value + '%';},
      colors:     ['rgba(255,255,255,0.3)', '#fff'],
      duration:   1000,
      wrpClass:   'circles-wrp',
      textClass:  'circles-text'
  })

  var myCircle3 = Circles.create({
      id:         'circles-3',
      radius:     60,
      value:      <%= @product.quality_3 %>,
      maxValue:   100,
      width:      5,
      text:       function(value){return value + '%';},
      colors:     ['rgba(255,255,255,0.3)', '#fff'],
      duration:   1000,
      wrpClass:   'circles-wrp',
      textClass:  'circles-text'
  })

  var myCircle4 = Circles.create({
      id:         'circles-4',
      radius:     60,
      value:      <%= @product.quality_4 %>,
      maxValue:   100,
      width:      5,
      text:       function(value){return value + '%';},
      colors:     ['rgba(255,255,255,0.3)', '#fff'],
      duration:   1000,
      wrpClass:   'circles-wrp',
      textClass:  'circles-text'
  })
});
</script>
<% end %>