<h2>Feature:</h2>
<div class="col-md-12">
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :feature_1_title, "Title Feature 1:", class: "lead lead-lg" %>
      <%= content.text_field :feature_1_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :feature_1_text, "Text Feature 1:", class: "lead lead-lg" %>
      <%= content.text_area :feature_1_text, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :feature_2_title, "Title Feature 2:", class: "lead lead-lg" %>
      <%= content.text_field :feature_2_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :feature_2_text, "Text Feature 2:", class: "lead lead-lg" %>
      <%= content.text_area :feature_2_text, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :feature_3_title, "Title Feature 3:", class: "lead lead-lg" %>
      <%= content.text_field :feature_3_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :feature_3_text, "Text Feature 3:", class: "lead lead-lg" %>
      <%= content.text_area :feature_3_text, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field form-group">
      <%= content.label :feature_4_title, "Title Feature 4:", class: "lead lead-lg" %>
      <%= content.text_field :feature_4_title, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
    <div class="field form-group">
      <%= content.label :feature_4_text, "Text Feature 4:", class: "lead lead-lg" %>
      <%= content.text_area :feature_4_text, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>
  </div>
</div>