<nav class="navbar navbar-static-top navbar-default navbar-header-full navbar-inverse" role="navigation" id="header">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand hidden-lg hidden-md hidden-sm active" href="index.html">alde <span>baran</span></a>
    </div> <!-- navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Trading Apps</a>
           <ul class="dropdown-menu dropdown-menu-left">
            <li><%= link_to "Strategies", pages_trading_apps_path %></li>
            <li><%= link_to "Indicators", pages_trading_apps_path %></li>
            <li><%= link_to "Portfolio", pages_trading_apps_path %></li>
            <li><%= link_to "See All", pages_trading_apps_path %></li>
          </ul>
        </li>
        <li><%= link_to "How It Works?", pages_how_it_works_path %></li>
        <li><%= link_to "FAQ", pages_faq_path %></li>
        <li><%= link_to "Store", store_my_store_path %></li>
        <li><%= link_to "About Us", pages_about_us_path %></li>
        <li><%= link_to "Contact", pages_contact_path %></li>
        <li><%= link_to "Blog", root_path %></li>
      </ul>
    </div><!-- navbar-collapse -->
  </div><!-- container -->
</nav>