<!DOCTYPE html>
<html>
<head>
  <title>Aldebaran</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>
  <%= render 'layouts/alerts' %>
  <%= yield %>
  <% unless controller.controller_name == "sessions" || controller.controller_name == "registrations" || controller.controller_name == "passwords" %>
    <%= render 'layouts/footer' %>
  <% end %>
</body>
</html>
