<!DOCTYPE html>
<html>
<head>
  <title>Aldebaran</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>

<% if controller.controller_name == 'pages' && controller.action_name == 'my_store' %>
  <body data-no-turbolink="true">
<% else %>
  <body>
<% end %>
  <%= render 'layouts/google_analytics' %>
  <% unless controller.controller_name == "sessions" || controller.controller_name == "registrations" || controller.controller_name == "passwords" || ( controller.controller_name == "pages" && controller.action_name == "thanks_for_purchase" )%>
    <%= render 'layouts/header' %>
    <%= render 'layouts/nav' %>
  <% end %>

  <%= render 'layouts/alerts' %>
  <%= yield %>
  <% unless controller.controller_name == "sessions" || controller.controller_name == "registrations" || controller.controller_name == "passwords" || ( controller.controller_name == "pages" && controller.action_name == "thanks_for_purchase" )%>
    <%= render 'layouts/footer' %>
  <% end %>
</body>
</html>
<script>
  $(".alert").fadeIn(500).css("opacity","0.85").delay( 6000 ).fadeOut( 1000 );
  $('.alerts').on('click','.alert',function(){ $(this).remove() });
</script>